* {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.primero {
    background-color: dimgray;
    padding-bottom: 200px;
}
nav, h1, h2, h4, p, button {
    margin-left: 200px;
    margin-right: 200px;
}
h1 {
    font-family: 'Calibri';
    font-weight: 1;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
}
#titulo {
    font-size: 32px;
}
footer {
    background-color: gray;
    height: 50px;
}